body{
	background-color: gray;
	color: 3333;
	border-bottom-style: black square;


}
nav     {
  width: 100%;
  display: inline-block;
  background-color: gray;
  border-bottom-style: black solid;


}
nav ul   {
  list-style: none;
  margin: 0;
  list-style:inside;
}
nav ul li {
  display: inline-block;
  margin: 1000px,1000px,1000px,1000px;
}
nav ul li .link   {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li .link:hover   {
  background: #444;
}
nav ul li .lefting   {
  margin-left:350px;
}
nav ul li .link1{
	margin-left: 100px;
}
h1{
	background-color: white;
	font-family: monospace;
	text-align: center;
	font-size: 20px;
}
.main-header h1{
	font-family: monospace;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}
.main-footer{
	text-align: center;
	margin-left: 234;
	color: black;
	padding-bottom: 12px;
	direction: left;
}
nav ul li .lefting1{
	margin-left:400px;

}
.menu-icon{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}
.container{
	height: 12rem;
	width: 5rem;
	background-color: black;

}
.icon1{
	 width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.icon2{
	 width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.icon3{
	 width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
